
#garrettPic, #blakePic {
  width: 80%;
  height: 80%;
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 30px;
}

body {
  background-image: url("http://freedesignfile.com/upload/2013/09/Metal-background-5.jpg");
  background-repeat: repeat;
}

.about {
  height: 400px;
}

.jumbotron {
  margin-bottom: 0px;
  background-color: #282C34;
  border-bottom: 4px solid black;
  h1{
    text-align: center;
    font-size: 84px;
    color: white;
    font-family: Menlo;
  }
}
.container {
  // width: 60%;
}

.navbar-nav {
  width: 100%;
  text-align: center;
  li {
    float: none;
    display: inline-block;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.navbar-inverse {
  margin-bottom: 40px;
  border-bottom: 4px solid black;
}
.aboutTitle{
  text-align: center;
  font-size: 42px;
}

#aboutTheBlog {
  p{
    text-align: center;
  }
}

.names{
  text-align: center;
  font-size: 34px;
  margin-top: 0px;
}

.adminPosts{
  text-align: center;
  padding-top: 0px;
  border: 2px solid black;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.newForm {
  text-align: center;
}

#newPostButton {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.form-control {
  width: 60%;
  margin: 0 auto;
}

#displayImage {
  width: 60%;
  border-radius: 30px;
  border: 4px solid white;
}

.well {
  background-color: #282C34;
  font-size: 18px;
  border-radius: 30px;
  p {
    color:#f2f4f7;
  }
}

#bodyWell {
  background-color: #afafaf;
  border: none;
  margin-top: 10px;
}

#postDisplay {
  margin-bottom: 50px;
  h1 {
    text-align: center;
    color: white;
    font-size: 38px;
    text-shadow: 0 0 10px black;
  }
  img {
    display: block;
    margin: auto;
  }
}
.aboutTitle{
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 52px;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 10px;
}

.redstyle {
  color: #B33A3E;
}

.whitestyle {
  color: #f2f4f7;
}
