{{#each model as |post|}}
<h1>{{post.title}}</h1>
<button {{action 'delete' post}}>Delete Post</button>
{{edit-post post=post updatePost="updatePost"}}
{{/each}}
<hr>


{{new-post post=post savePost="savePost"}}
