<div class= "jumbotron">
  <h1><span class="whitestyle">&lt;</span><span class="redstyle">h1</span><span class="whitestyle">&gt;</span><span class="whitestyle">Code Camp Blog</span><span class="whitestyle">&lt;/</span><span class="redstyle">h1</span><span class="whitestyle">&gt;</span></h1>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="navItems"><a href="/">HOME</a></li>
      <li class="navItems"><a href="/about">ABOUT</a></li>
      <li class="navItems"><a href="/contact">CONTACT</a></li>
      <li class="navItems"><a href="/admin">ADMIN</a></li>
    </ul>
  </div>
</nav>
<div id="background">
</div>
<div class= "container">
    {{outlet}}
  <hr>
</div>
