<div class= "jumbotron">
  <h1>Code Camp Blog</h1>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="navItems"><a href="/">Home</a></li>
      <li class="navItems"><a href="/about">About</a></li>
      <li class="navItems"><a href="/contact">Contact</a></li>
      <li class="navItems"><a href="/admin">Admin</a></li>
    </ul>
  </div>
</nav>
<div class= "container">
    {{outlet}}
  <hr>
</div>
